@charset "UTF-8";
/* line 1, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 4, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
}

/* line 9, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  color: #4b4b4b;
}

/* line 17, ../sass/base/_base.scss */
.wrapper {
  margin: 70px 0 0 0;
}

/* line 21, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #4b4b4b;
}
/* line 24, ../sass/base/_base.scss */
a:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

/* line 30, ../sass/base/_base.scss */
img {
  max-width: 100%;
}

/* line 34, ../sass/base/_base.scss */
h2 {
  margin: 0 auto 30px;
}

/* line 38, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 2, ../sass/components/_gnav.scss */
.menu {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 99;
}
/* line 9, ../sass/components/_gnav.scss */
.menu__line {
  background: #4b4b4b;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.3s;
  width: 100%;
}
/* line 16, ../sass/components/_gnav.scss */
.menu__line--center {
  top: 9px;
}
/* line 18, ../sass/components/_gnav.scss */
.menu__line--center.active {
  transform: scaleX(0);
  background: #fff;
}
/* line 23, ../sass/components/_gnav.scss */
.menu__line--bottom {
  bottom: 0;
}
/* line 25, ../sass/components/_gnav.scss */
.menu__line--bottom.active {
  bottom: 10px;
  transform: rotate(135deg);
  background: #fff;
}
/* line 31, ../sass/components/_gnav.scss */
.menu__line--top.active {
  top: 8px;
  transform: rotate(45deg);
  background: #fff;
}

/* line 40, ../sass/components/_gnav.scss */
.gnav {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}
/* line 50, ../sass/components/_gnav.scss */
.gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
/* line 59, ../sass/components/_gnav.scss */
.gnav__item {
  margin: 40px 0;
}
/* line 61, ../sass/components/_gnav.scss */
.gnav__item a {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  transition: 0.5s;
}

/* Slider */
/* line 3, ../sass/components/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../sass/components/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/components/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, ../sass/components/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../sass/components/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../sass/components/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/components/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../sass/components/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../sass/components/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, ../sass/components/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 68, ../sass/components/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 71, ../sass/components/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 74, ../sass/components/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 80, ../sass/components/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 84, ../sass/components/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 88, ../sass/components/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 92, ../sass/components/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 98, ../sass/components/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 45, ../sass/components/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('/img/ajax-loader.gif?1643633918') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('/fonts/slick.eot?1643641125');
  src: url('/fonts/slick.eot?&1643641125#iefix') format("embedded-opentype"), url('/fonts/slick.woff?1643641125') format("woff"), url('/fonts/slick.ttf?1643641125') format("truetype"), url('/fonts/slick.svg?1643641125#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 63, ../sass/components/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 81, ../sass/components/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 85, ../sass/components/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 89, ../sass/components/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
/* line 92, ../sass/components/_slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 103, ../sass/components/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 105, ../sass/components/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 109, ../sass/components/_slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 111, ../sass/components/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 117, ../sass/components/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 119, ../sass/components/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 123, ../sass/components/_slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 125, ../sass/components/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 133, ../sass/components/_slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 137, ../sass/components/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 146, ../sass/components/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 154, ../sass/components/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 166, ../sass/components/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 168, ../sass/components/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 172, ../sass/components/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 189, ../sass/components/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  width: 100%;
  padding: 25px 4% 15px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9999;
}
/* line 10, ../sass/layout/_header.scss */
.header .logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/pages/_home.scss */
.news__heading {
  text-align: center;
  font-size: 25px;
}
/* line 19, ../sass/pages/_home.scss */
.news ul {
  padding: 0;
}

/* line 25, ../sass/pages/_home.scss */
.news-list__item {
  display: flex;
}
/* line 27, ../sass/pages/_home.scss */
.news-list__item:not(:last-child) {
  margin-bottom: 15px;
}
/* line 32, ../sass/pages/_home.scss */
.news-list__heading {
  display: flex;
}
/* line 36, ../sass/pages/_home.scss */
.news-list__date {
  margin-right: 20px;
}
/* line 40, ../sass/pages/_home.scss */
.news-list__heading {
  margin-right: 20px;
}
/* line 64, ../sass/pages/_home.scss */
.news-list__body {
  max-width: 710px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 73, ../sass/pages/_home.scss */
.blog__heading {
  text-align: center;
  font-size: 25px;
}

/* line 1, ../sass/layout/_layout.scss */
.l-section {
  padding: 70px 0;
}

/* line 4, ../sass/layout/_layout.scss */
.l-inner {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 8, ../sass/layout/_layout.scss */
.l-inner--sm {
  max-width: 950px;
}
/* line 11, ../sass/layout/_layout.scss */
.l-inner--xl {
  max-width: 1140px;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #fff;
  bottom: 0;
  text-align: center;
}
/* line 7, ../sass/layout/_footer.scss */
.footer__inner {
  display: flex;
  align-items: center;
}
/* line 11, ../sass/layout/_footer.scss */
.footer h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/layout/_footer.scss */
.footer nav {
  margin: 0 0 0 auto;
}
/* line 23, ../sass/layout/_footer.scss */
.footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}
/* line 28, ../sass/layout/_footer.scss */
.footer li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* line 2, ../sass/components/_card.scss */
.card-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/components/_card.scss */
  .card-wrapper {
    display: block;
  }
}
/* line 8, ../sass/components/_card.scss */
.card-wrapper .card {
  width: 32%;
}
@media screen and (max-width: 768px) {
  /* line 8, ../sass/components/_card.scss */
  .card-wrapper .card {
    width: 100%;
    margin: 30px 0 auto;
  }
}
/* line 16, ../sass/components/_card.scss */
.card-wrapper .card__heading {
  margin: 10px 0;
  display: flex;
}
/* line 21, ../sass/components/_card.scss */
.card-wrapper .card__date {
  margin-right: 10px;
}
/* line 25, ../sass/components/_card.scss */
.card-wrapper .card a {
  display: block;
}

/* line 2, ../sass/components/_article.scss */
.article__head {
  margin-bottom: 30px;
}
/* line 5, ../sass/components/_article.scss */
.article__heading {
  text-align: center;
  font-size: 25px;
}
/* line 10, ../sass/components/_article.scss */
.article__title {
  font-size: 32px;
}
/* line 14, ../sass/components/_article.scss */
.article__info {
  margin-top: 10px;
  display: flex;
}
/* line 19, ../sass/components/_article.scss */
.article__date {
  font-size: 0.9rem;
  margin-right: 10px;
}
/* line 23, ../sass/components/_article.scss */
.article__body {
  margin-bottom: 40px;
}
/* line 26, ../sass/components/_article.scss */
.article__pager-home {
  text-align: center;
  background-color: #4b4b4b;
  width: 300px;
  margin: 0 auto;
}
/* line 31, ../sass/components/_article.scss */
.article__pager-home a {
  color: #fff;
  display: block;
}
/* line 38, ../sass/components/_article.scss */
.article h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
/* line 44, ../sass/components/_article.scss */
.article h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
/* line 49, ../sass/components/_article.scss */
.article p {
  margin-bottom: 30px;
}

/* line 1, ../sass/components/_label.scss */
.label-category, .label-category {
  display: block;
  font-weight: bold;
  width: 80px;
  padding: 2px 10px;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
/* line 11, ../sass/components/_label.scss */
.label-category__news, .label-category__study, .label-category__news, .label-category__study {
  background-color: #647b93;
}
/* line 14, ../sass/components/_label.scss */
.label-category__works, .label-category__hobby, .label-category__works, .label-category__hobby {
  background-color: #936464;
}
/* line 17, ../sass/components/_label.scss */
.label-category__recruit, .label-category__cafe, .label-category__recruit, .label-category__cafe {
  background-color: #7f6493;
}

/* line 1, ../sass/components/_pagination.scss */
.pagination {
  text-align: center;
}
/* line 3, ../sass/components/_pagination.scss */
.pagination a, .pagination span {
  display: inline-block;
  margin: 8px 0;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  padding: 14px 0;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1;
}
/* line 14, ../sass/components/_pagination.scss */
.pagination .current {
  background: #ffc33c;
  color: #fff;
}

/* line 2, ../sass/pages/_news.scss */
.news-detail__heading {
  text-align: center;
  font-size: 25px;
}
/* line 6, ../sass/pages/_news.scss */
.news-detail__body {
  margin-bottom: 40px;
}
/* line 9, ../sass/pages/_news.scss */
.news-detail ul {
  padding: 0;
}

/* line 2, ../sass/pages/_blog.scss */
.blog-detail__heading {
  text-align: center;
  font-size: 25px;
}
/* line 6, ../sass/pages/_blog.scss */
.blog-detail__body {
  margin-bottom: 40px;
}
/* line 9, ../sass/pages/_blog.scss */
.blog-detail__body .card-wrapper {
  margin-bottom: 20px;
}
