@charset "UTF-8";
/* line 1, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 4, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
}

/* line 9, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  color: #4b4b4b;
}

/* line 17, ../sass/base/_base.scss */
.wrapper {
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 24, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #4b4b4b;
}
/* line 27, ../sass/base/_base.scss */
a:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

/* line 33, ../sass/base/_base.scss */
img {
  max-width: 100%;
}

/* line 37, ../sass/base/_base.scss */
h2 {
  margin: 0 auto 30px;
}

/* line 41, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 2, ../sass/components/_gnav.scss */
.menu {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 99;
}
/* line 9, ../sass/components/_gnav.scss */
.menu__line {
  background: #4b4b4b;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.3s;
  width: 100%;
}
/* line 16, ../sass/components/_gnav.scss */
.menu__line--center {
  top: 9px;
}
/* line 18, ../sass/components/_gnav.scss */
.menu__line--center.active {
  transform: scaleX(0);
  background: #fff;
}
/* line 23, ../sass/components/_gnav.scss */
.menu__line--bottom {
  bottom: 0;
}
/* line 25, ../sass/components/_gnav.scss */
.menu__line--bottom.active {
  bottom: 10px;
  transform: rotate(135deg);
  background: #fff;
}
/* line 31, ../sass/components/_gnav.scss */
.menu__line--top.active {
  top: 8px;
  transform: rotate(45deg);
  background: #fff;
}

/* line 40, ../sass/components/_gnav.scss */
.gnav {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}
/* line 50, ../sass/components/_gnav.scss */
.gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
/* line 59, ../sass/components/_gnav.scss */
.gnav__item {
  margin: 40px 0;
}
/* line 61, ../sass/components/_gnav.scss */
.gnav__item a {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  transition: 0.5s;
}

/* line 1, ../sass/components/_card.scss */
.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 6, ../sass/components/_card.scss */
.card-wrapper::after {
  content: "";
  display: block;
  width: 32%;
  height: 0;
}
@media screen and (max-width: 768px) {
  /* line 1, ../sass/components/_card.scss */
  .card-wrapper {
    display: block;
  }
}
/* line 15, ../sass/components/_card.scss */
.card-wrapper .card {
  width: 32%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 15, ../sass/components/_card.scss */
  .card-wrapper .card {
    width: 100%;
    margin: 30px 0 auto;
  }
}
/* line 29, ../sass/components/_card.scss */
.card-wrapper .card__img-wrapper img {
  display: block;
  width: 100%;
  /*任意の横幅を指定*/
  height: 250px;
  /*任意の高さを指定*/
  object-fit: cover;
}
/* line 36, ../sass/components/_card.scss */
.card-wrapper .card__heading {
  margin: 10px 0;
  display: flex;
}
/* line 41, ../sass/components/_card.scss */
.card-wrapper .card__date {
  margin-right: 10px;
}
/* line 45, ../sass/components/_card.scss */
.card-wrapper .card a {
  display: block;
}

/* line 2, ../sass/components/_article.scss */
.article__head {
  margin-bottom: 30px;
}
/* line 5, ../sass/components/_article.scss */
.article__heading {
  text-align: center;
  font-size: 25px;
}
/* line 10, ../sass/components/_article.scss */
.article__title {
  font-size: 32px;
}
/* line 14, ../sass/components/_article.scss */
.article__info {
  margin-top: 10px;
  display: flex;
}
/* line 19, ../sass/components/_article.scss */
.article__date {
  font-size: 0.9rem;
  margin-right: 10px;
}
/* line 23, ../sass/components/_article.scss */
.article__body {
  margin-bottom: 40px;
}
/* line 38, ../sass/components/_article.scss */
.article h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
/* line 44, ../sass/components/_article.scss */
.article h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
/* line 49, ../sass/components/_article.scss */
.article p {
  margin-bottom: 30px;
}

/* line 1, ../sass/components/_label.scss */
.label-category {
  display: inline-block;
  font-weight: bold;
  min-width: 80px;
  letter-spacing: 0.08em;
  padding: 2px 10px;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
/* line 12, ../sass/components/_label.scss */
.label-category__news, .label-category__study {
  background-color: #647b93;
}
/* line 16, ../sass/components/_label.scss */
.label-category__works, .label-category__hobby {
  background-color: #936464;
}
/* line 19, ../sass/components/_label.scss */
.label-category__recruit, .label-category__cafe {
  background-color: #7f6493;
}

/* line 1, ../sass/components/_pagination.scss */
.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 13px;
  /* ページ番号 */
  /* ホバー時 & 現在のページ */
  /* Page x / y */
}
/* line 9, ../sass/components/_pagination.scss */
.pagination span,
.pagination a {
  display: block;
  width: auto;
  margin: 4px;
  padding: 8px;
  border: 1px solid #4b4b4b;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
}
/* line 23, ../sass/components/_pagination.scss */
.pagination .pager {
  width: 32px;
}
/* line 28, ../sass/components/_pagination.scss */
.pagination a:hover,
.pagination .current {
  color: #fff;
  border-color: #4b4b4b;
  background-color: #4b4b4b;
  opacity: 1;
}
/* line 37, ../sass/components/_pagination.scss */
.pagination .page_num {
  display: none;
}

/* line 11, ../sass/components/_text-animation.scss */
.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}
/* line 14, ../sass/components/_text-animation.scss */
.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}
/* line 19, ../sass/components/_text-animation.scss */
.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

/* line 24, ../sass/components/_text-animation.scss */
.animate-title.inview .char {
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.04s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.08s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.12s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.16s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.2s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.24s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.28s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.32s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.36s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.4s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.44s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.48s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.52s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.56s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.6s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.64s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.68s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.72s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.76s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(20) {
  animation-delay: 0.8s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(21) {
  animation-delay: 0.84s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(22) {
  animation-delay: 0.88s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(23) {
  animation-delay: 0.92s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(24) {
  animation-delay: 0.96s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(25) {
  animation-delay: 1s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(26) {
  animation-delay: 1.04s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(27) {
  animation-delay: 1.08s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(28) {
  animation-delay: 1.12s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(29) {
  animation-delay: 1.16s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(30) {
  animation-delay: 1.2s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(31) {
  animation-delay: 1.24s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(32) {
  animation-delay: 1.28s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(33) {
  animation-delay: 1.32s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(34) {
  animation-delay: 1.36s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(35) {
  animation-delay: 1.4s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(36) {
  animation-delay: 1.44s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(37) {
  animation-delay: 1.48s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(38) {
  animation-delay: 1.52s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(39) {
  animation-delay: 1.56s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(40) {
  animation-delay: 1.6s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(41) {
  animation-delay: 1.64s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(42) {
  animation-delay: 1.68s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(43) {
  animation-delay: 1.72s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(44) {
  animation-delay: 1.76s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(45) {
  animation-delay: 1.8s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(46) {
  animation-delay: 1.84s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(47) {
  animation-delay: 1.88s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(48) {
  animation-delay: 1.92s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(49) {
  animation-delay: 1.96s;
}
/* line 33, ../sass/components/_text-animation.scss */
.animate-title.inview .char:nth-child(50) {
  animation-delay: 2s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 3, ../sass/components/_form.scss */
.form__item:not(:last-child) {
  margin-bottom: 30px;
}
/* line 7, ../sass/components/_form.scss */
.form__title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
/* line 12, ../sass/components/_form.scss */
.form__note {
  font-weight: normal;
  margin-left: 5px;
}
/* line 18, ../sass/components/_form.scss */
.form__require {
  margin-left: 10px;
  color: #4b4b4b;
}
@media screen and (max-width: 768px) {
  /* line 24, ../sass/components/_form.scss */
  .form__radio {
    display: block;
  }
}
/* line 28, ../sass/components/_form.scss */
.form__radio:not(:last-child) {
  margin-right: 35px;
}
@media screen and (max-width: 768px) {
  /* line 28, ../sass/components/_form.scss */
  .form__radio:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
/* line 38, ../sass/components/_form.scss */
.form input[type="radio"] {
  margin-right: 5px;
  border: 1px solid #4b4b4b;
  border-radius: 50%;
}
/* line 44, ../sass/components/_form.scss */
.form__input, .form__select {
  width: 300px;
  padding: 8px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 44, ../sass/components/_form.scss */
  .form__input, .form__select {
    width: 100%;
  }
}
/* line 57, ../sass/components/_form.scss */
.form input[type="tel"] {
  width: 200px;
}
@media screen and (max-width: 768px) {
  /* line 57, ../sass/components/_form.scss */
  .form input[type="tel"] {
    width: 100%;
  }
}
/* line 64, ../sass/components/_form.scss */
.form__textarea {
  min-width: 600px;
  min-height: 200px;
  padding: 8px;
  resize: both;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/components/_form.scss */
  .form__textarea {
    width: 100%;
    min-width: 100%;
  }
}
/* line 79, ../sass/components/_form.scss */
.form__btn {
  margin-top: 50px;
  text-align: center;
}

/* line 1, ../sass/components/_btn.scss */
.btn {
  text-align: center;
  background-color: #4b4b4b;
  width: 300px;
  margin: 0 auto;
  color: #fff;
}
/* line 7, ../sass/components/_btn.scss */
.btn a {
  color: #fff;
  display: block;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  width: 100%;
  padding: 25px 4% 15px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9999;
}
/* line 10, ../sass/layout/_header.scss */
.header .logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/layout/_layout.scss */
.l-section {
  padding: 70px 0;
}

/* line 4, ../sass/layout/_layout.scss */
.l-inner {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 8, ../sass/layout/_layout.scss */
.l-inner--sm {
  max-width: 950px;
}
/* line 11, ../sass/layout/_layout.scss */
.l-inner--xl {
  max-width: 1140px;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  margin-top: auto;
  padding: 30px 4% 10px;
  background-color: #fff;
  text-align: center;
}
/* line 6, ../sass/layout/_footer.scss */
.footer__inner {
  display: flex;
  align-items: center;
}
/* line 10, ../sass/layout/_footer.scss */
.footer h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/* line 19, ../sass/layout/_footer.scss */
.footer nav {
  margin: 0 0 0 auto;
}
/* line 22, ../sass/layout/_footer.scss */
.footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}
/* line 27, ../sass/layout/_footer.scss */
.footer li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* line 15, ../sass/pages/_home.scss */
.news__heading {
  text-align: center;
  font-size: 25px;
}
/* line 19, ../sass/pages/_home.scss */
.news ul {
  padding: 0;
}

/* line 25, ../sass/pages/_home.scss */
.news-list__item {
  display: flex;
}
/* line 27, ../sass/pages/_home.scss */
.news-list__item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/pages/_home.scss */
  .news-list__item {
    display: block;
  }
}
/* line 37, ../sass/pages/_home.scss */
.news-list__heading {
  display: flex;
}
/* line 41, ../sass/pages/_home.scss */
.news-list__date {
  margin-right: 20px;
}
/* line 45, ../sass/pages/_home.scss */
.news-list__heading {
  margin-right: 20px;
}
/* line 69, ../sass/pages/_home.scss */
.news-list__body {
  max-width: 710px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 78, ../sass/pages/_home.scss */
.blog__heading {
  text-align: center;
  font-size: 25px;
}

/* line 2, ../sass/pages/_news.scss */
.news-detail__heading {
  text-align: center;
  font-size: 25px;
}
/* line 6, ../sass/pages/_news.scss */
.news-detail__body {
  margin-bottom: 40px;
}
/* line 9, ../sass/pages/_news.scss */
.news-detail ul {
  padding: 0;
}

/* line 2, ../sass/pages/_blog.scss */
.blog-detail__heading {
  text-align: center;
  font-size: 25px;
}
/* line 6, ../sass/pages/_blog.scss */
.blog-detail__body {
  margin-bottom: 40px;
}
/* line 9, ../sass/pages/_blog.scss */
.blog-detail__body .card-wrapper {
  margin-bottom: 20px;
}

/* line 2, ../sass/pages/_contact.scss */
.contact-form__heading {
  font-size: 1.5em;
  text-align: center;
}
/* line 6, ../sass/pages/_contact.scss */
.contact-form__body {
  padding: 90px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 6, ../sass/pages/_contact.scss */
  .contact-form__body {
    padding: 30px;
  }
}
