.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    content: "";
    display: block;
    width: 32%;
    height: 0;
  }
  @include mq(md) {
    display: block;
  }
  .card {
    width: 32%;
    margin-bottom: 20px;

    @include mq(md) {
      width: 100%;
      margin: 30px 0 auto;
    }

    &__img-wrapper {
      // position: relative;
      // overflow: hidden;
      // // padding-top: 60%;
      // // margin: 10px 5px;
      img {
        display: block;
        width: 100%;/*任意の横幅を指定*/
        height: 250px;/*任意の高さを指定*/
        object-fit: cover;
      }
    }
    &__heading {
      margin: 10px 0;
      display: flex;
    }

    &__date {
      margin-right: 10px;
    }

    a {
      display: block;
    }
  }
}
