// 外に出すと他ページでも使える
.card-wrapper {
  display: flex;
  justify-content: space-between;
  @include mq(md) { // 引数省略(初期値はmdの768px)
    display: block;
  }
  .card {
    width: 32%;
    @include mq(md) { // 引数省略(初期値はmdの768px)
      width: 100%;
      margin: 30px 0 auto;
    }


    &__heading {
      margin: 10px 0;
      display: flex;
    }

    &__date {
      margin-right: 10px;
    }

    a {
      display: block;
    }
  }
}
