.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  &::after {
    content: "";
    display: block;
    width: 32%;
    height: 0;
  }
  @include mq(md) {
    display: block;
  }
  .card {
    width: 32%;
    margin-bottom: 20px;
    flex: 0 0 32%;

    @include mq(md) {
      width: 100%;
      margin: 30px 0 auto;
    }

    &__img-wrapper {
      padding-top: (3/4 * 100%); //padding-topを%で指定すると、親要素の横幅に対する相対的な値となる
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__heading {
      margin: 10px 0;
      display: flex;
    }

    &__date {
      margin-right: 10px;
    }

    a {
      display: block;
    }
  }
}
