.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 13px;

  span,
  a {
    display: block;
    width: auto;
    margin: 4px;
    padding: 8px;
    border: 1px solid $cBlack;
    background-color: $cWhite;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
  }

  /* ページ番号 */
  .pager {
    width: 32px;
  }

  /* ホバー時 & 現在のページ */
  a:hover,
  .current {
    color: $cWhite;
    border-color: $cBlack;
    background-color: $cBlack;
    opacity: 1; //全体のopacity解除のため追加
  }

  /* Page x / y */
  .page_num {
    display: none;
  }
}
