@charset "utf-8";

// リセット用のcss、
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $cGray;
  color: $cBlack;
}

.wrapper {
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $cBlack;
  &:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
  }
}

img {
  max-width: 100%;
}

h2 {
  margin: 0 auto 30px;
}

ul {
    list-style: none;
}
