@charset "utf-8";


// .key-visual {
//   background: url(../img/kv.jpg) top center / cover no-repeat;
//   height: 100vh;
//   // background:url(../img/kv.jpg) no-repeat;
//   //   background-position: 50% 50%;
//   //   background-size: cover;
//   //   height: 100vh;
// }


.news {
  &__heading {
    text-align: center;
    font-size: 25px;
  }
  ul {
    padding: 0;
  }
}

.news-list {
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    // newsのレスポンシブ対応
    @include mq(md) {
      display: block;
    }
  }

  &__heading {
    display: flex;
  }

  &__date {
    margin-right: 20px;
  }

  &__heading {
    margin-right: 20px;

    // .label-category {
    //   display: block;
    //     font-weight: bold;
    //     width: 80px;
    //     padding: 2px 10px;
    //     font-size: 0.75rem;
    //     text-align: center;
    //     color: $cWhite;
    //     border-radius: 20px;
    //   &__news {
    //     background-color: #647b93; //後でカテゴリーごとに色変更
    //   }
    //   &__works {
    //     background-color: #936464;
    //   }
    //   &__recruit {
    //     background-color: #649379;
    //   }
    // }
  }

  &__body {
    max-width: 710px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.blog {
  &__heading {
    text-align: center;
    font-size: 25px;
  }
}

// cardへ移行
// .card-wrapper {
//   display: flex;
//   justify-content: space-between;
//   .card {
//     width: 32%;

//     a {
//       display: block;
//     }
//   }
//   @include mq() {
//     // 引数省略(初期値はmdの768px)
//     display: block;
//     .blog-card {
//       margin: 0 auto;
//       width: 100%;
//     }
//   }
// }
